/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.04.2021, 20:52:43
    Author     : german
*/
/*
#FF5A09 - main orange(dark)
#FF9900 - secondary orange(light)
#393939 - dark gray
*/
body {
    color: #C1C2C4;
    background-color: #2A2D34;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.6em;
}
.uk-input:focus {

  border-color: #FF5A09 !important;

  }
/*Smooth transitions*/
*, *::before, *::after
{
    transition: all .3s ease-in-out;
}

/*Nav-bar padding*/
.nav-padding
{
    padding-left: 200px;
    padding-right: 200px;
    background: linear-gradient(0deg,transparent,rgb(0 0 0 / 67%))!important;
    border-bottom: 1px solid transparent!important;
    border-bottom-color: rgba(255,255,255,.4)!important;
    z-index: 1000;
}

/*Background*/
.overlay
{
    background-image: url("../images/back11.jpg");
    /*background-position: top center;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    text-align: left;
    word-wrap: break-word;
}

/* Intro Article */
.intro-row {
    color: #FFFFFF;
    padding: 240px 0;
}

.intro-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 40px;
    text-align: center;
    margin-top: -25px;
}
.intro-text h1
{
    color: white;
}

/*Second row*/
.second-row
{
    background-color: #f1f1f1;
    padding: 170px 0;
    padding-left: 200px;
    padding-right: 200px;
}

.uk-card
{
    text-align: center;
}
.r-card
{
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

/*Third row*/
.third-row
{
    background-color: #a2a2a2;
    padding: 170px 0;
    padding-left: 200px;
    padding-right: 200px;
}

.icon-background
{
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border-radius: 500px!important;
    background-color: #FF9900!important;
    color: #6e6e6e!important;
    vertical-align: middle;
    display: inline-flex!important;
    justify-content: center;
    align-items: center;
}
/*Footer*/
footer
{
    background-color: #393939;
    color: #ff5a09;
    text-align: center;
    padding: 15px 0;
}

footer p
{
    margin: 0;
}

.sign-button
{
    background-color: #ff5a09!important;
    color: white!important;
}

/*Responsiveness*/

.mobile
{
    display: none;
}
.uk-offcanvas-bar
{
    background: #2A2D34!important;
}

@media screen and (max-width:978px){
    .nav-padding
    {
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media screen and (max-width:778px){
    .nav-padding
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .desktop
    {
        display: none;
    }
    .mobile
    {
        display: block;
    }
    .second-row
    {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width:450px){
    .nav-padding
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    .desktop
    {
        display: none;
    }
    .mobile
    {
        display: block;
    }
    .second-row
    {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/*#########################*/
/*Records*/
/*#########################*/
/* Intro Article */
.records-intro-row {
    color: #FFFFFF;
    padding: 240px 0;
}

.records-intro-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 40px;
    text-align: center;
    margin-top: -25px;
}
.records-intro-text h1
{
    color: white;
}

.r-card
{
    height: 400px;
    background-size: cover!important;
    background-position: center!important;
}
.repair-card
{
    background-image: url('../images/repair.jpg')!important;
}
.refill-card
{
    background-image: url('../images/refill.jpg')!important;
}

.r-hover
{
    height: 55px;
    transition: 0.3s;
}
.r-card:hover .r-hover
{
    height: 190px;
    padding-top: 180px;
}

/*#########################*/
/*Refill*/
/*#########################*/
/* Intro Article */
.refill-intro-row
{
    padding: 250px!important;
}
.uk-navbar-container
{
    margin-bottom: 0px!important;
}

/*Refill form*/
.btn-outline-secondary
{
    color: #FF5A09!important;
    border-bottom-color: #FF5A09!important;
    border-top: #FF5A09!important;
    border-right: #FF5A09!important;
    border-radius: 0!important;
}
.uk-input
{
    background-color: transparent!important;
    border-bottom-color: #FF5A09!important;
    border-left: #FF5A09!important;
    border-top: #FF5A09!important;
    border-right: #FF5A09!important;
    border-radius: 0!important;
}
.uk-form-label
{
    color: #FF5A09!important;
}
.refill-input::placeholder
{
    color: #afafaf!important;
}

.refill-input
{
    width: 500px!important;
}
/*.form-bg-blur
{
    background-color: black;
    position: absolute;
    z-index: -10;
    filter: blur(30px);
    opacity: 0.65;
    left: 210px;
    right: 210px;
    top: 300px;
    bottom: 230px;
}*/
.refill-btn
{
    background-color: #FF5A09!important;
    margin-top: 50px!important;
    width: 500px!important;
}
.refill-btn:hover
{
    background-color: #de4900!important;
}
.refill-btn:active
{
    background-color: #c54100!important;
}

.input-group-append
{
    display: none!important;
}


/*Refill Table*/

.refill-table-intro-row
{
    padding: 250px 50px 250px 50px!important;
}

.refill-table-intro-row .uk-table th
{
    color: #FF5A09!important;
    border-top: none!important;
    background-color: #481700a8!important;
}
.refill-table-intro-row .uk-table tr
{
    color: white!important;
    border-top: 1px solid #FF5A09!important;
    background-color: #000000a8!important;
}
.refill-table-intro-row .uk-table tr:nth-child(even) {
    background-color: #404040c7!important;
}

.table-container
{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.uk-transition tr td
{
    position: relative!important;
}

#asc-btn-temp, #dsc-btn-temp
{
    display: none;
}

.filter-btn
{
    margin-left: 50px!important;
    color: white!important;
    border: 1px solid #FF5A09!important;
    background-color: #00000069!important;
}

.uk-subnav-pill>.uk-active>a
{
    background-color: #FF5A09!important;
}



