{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}


<div class="second-row">
    <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="r-card repair-card uk-card uk-card-hover uk-card-body">  <!--- HREF TO OPEN MAINTENANCE! --->
                <div class="r-hover uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                    <h3 class="uk-margin-remove">MAINTENANCE</h3>
                    <p class="uk-margin-remove">Click to add maitenance entry.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="r-card refill-card uk-card uk-card-hover uk-card-body" href="#modal-full" uk-toggle> <!--- HREF TO OPEN REFILL --->
                <div class="r-hover uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                    <h3 class="uk-margin-remove">REFILL</h3>
                    <p class="uk-margin-remove">Click to add refill entry.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-full" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-background-cover" style="background-image: url('../static/images/back11.jpg');" uk-height-viewport></div>
            <div class="uk-padding-large">
                <h1>Refill Entry</h1>
                <!--<p>Add refill entry</p>-->
                <form class="uk-form-stacked">
                    <label class="uk-form-label" for="form-stacked-text1">Refill Date</label>

                        <div class="uk-inline">
                            <span style="color:#FF5A09; cursor: pointer!important;" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: calendar"></span>
                            <input class="uk-input refill-input" id="datepicker" placeholder="DD/MM/YYYY" />
                        </div>

                    <script>
                        $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap4'
                        });
                    </script>


                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text1">Refill Size</label>
                        <div class="uk-form-controls">
                            <input class="uk-input refill-input" id="form-stacked-text1" type="number" placeholder="00.00">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text2">Refill Price</label>
                        <div class="uk-form-controls">
                            <input class="uk-input refill-input" id="form-stacked-text2" type="number" placeholder="00.00">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text3">Odometer</label>
                        <div class="uk-form-controls">
                            <input class="uk-input refill-input" id="form-stacked-text3" type="number" placeholder="000000">
                        </div>
                    </div>
                    <button class="refill-btn uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Add Refill Entry</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="third-row">
    <div class="uk-animation-slide-bottom uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="card uk-card uk-card-default uk-card-hover uk-card-body">
                <span class="icon-background" uk-icon="icon: phone; ratio: 2"></span>
                <h3 class="uk-card-title">Mobile App</h3>
                <p>Download mobile version of our website.</p>
            </div>
        </div>
        <div>
            <div class="card uk-card uk-card-default uk-card-hover uk-card-body">
                <span class="icon-background" uk-icon="icon: star; ratio: 2"></span>
                <h3 class="uk-card-title">Primary</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
        <div>
            <div class="card uk-card uk-card-default uk-card-hover uk-card-body">
                <span class="icon-background" uk-icon="icon: world; ratio: 2"></span>
                <h3 class="uk-card-title">Secondary</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}