{% extends "base.html" %} {% block title %}MyCars{% endblock %}

{% block article %}
    <h1 class="uk-text-bold">MY CARS</h1>
{% endblock %}


{% block content%}


<div class="second-row m-c-first-row">
    <hr>
    <img class="uk-border-circle" src="../static/images/audi.jpg" width="200" height="200" alt="Border circle">
    <h2>Audi A4</h2>
    <p class="uk-text-default uk-text-emphasis"><span class="uk-text-bold">Year: </span>2005</p>
    <p class="uk-text-default uk-text-emphasis"><span class="uk-text-bold">Odometer: </span>180000</p>
    <p class="uk-text-default uk-text-emphasis"><span class="uk-text-bold">Add shit here: </span>and here</p>
    <p class="uk-text-default uk-text-emphasis"><span class="uk-text-bold">Add shit here: </span>and here</p>

    <hr>
    <p uk-margin>
        <a class="uk-button uk-button-default m-c-btn-add" href="#modal-sections" uk-toggle>Add another car</a>
        <button class="uk-button uk-button-default m-c-btn-remove">Remove this car</button>
    </p>
    <hr>
</div>

<div id="modal-sections" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Add Car</h2>
        </div>
        <div class="uk-modal-body">
            <form class="uk-form-horizontal">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Car make<span style="color: red;">*</span></label>
                    <div class="uk-inline">
                        <input class="uk-input" type="text" placeholder="Make">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Car model<span style="color: red;">*</span></label>
                    <div class="uk-inline">
                        <input class="uk-input" type="text" placeholder="Model">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Car year<span style="color: red;">*</span></label>
                    <div class="uk-inline">
                        <input class="uk-input" type="number" placeholder="YEAR">
                    </div>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button sign-button" type="button">Add Car</button>
        </div>
    </div>
</div>

<div class="second-row" style="background-color:#c7c7c7">
    <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="r-card repair-card uk-card uk-card-hover uk-card-body">  <!--- HREF TO OPEN MAINTENANCE! --->
                <div class="r-hover uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                    <h3 class="uk-margin-remove">MAINTENANCE</h3>
                    <p class="uk-margin-remove">Click to add maitenance entry.</p>
                </div>
            </div>
        </div>
        <div>
            <div class="r-card refill-card uk-card uk-card-hover uk-card-body" href="#modal-full" uk-toggle> <!--- HREF TO OPEN REFILL --->
                <div class="r-hover uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                    <h3 class="uk-margin-remove">REFILL</h3>
                    <p class="uk-margin-remove">Click to add refill entry.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}