{% extends "base.html" %} {% block title %} RECORD {% endblock %}

{% block content%}
{% if current_user.id == vehicle.user_id %}

<div class="container">
    <h1 align="center">Records</h1>
    <p align="center">Mark: {{vehicle.mark}}<br>Model: {{vehicle.model}}<br>Year: {{vehicle.year}}<br>Registration date: {{vehicle.reg_date}}</p>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Refill Date</th>
      <th scope="col">Refill Size</th>
      <th scope="col">Fuel Left</th>
      <th scope="col">Odometer</th>
    </tr>
  </thead>
  <tbody>
    {% for rec in vehicle.records %}
    <tr>
      <td>{{ rec.vehicle_id }}</td>
      <td>{{ rec.refill_date }}</td>
      <td>{{ rec.refill_size }} l.</td>
      <td>{{ rec.fuel_left }} l.</td>
      <td>{{ rec.odometer }} km</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    </ul>

</div>

<div class="containter">
</div>
  <form method = "POST">
    <h3 align="center"> INSERT NEW REFILL RECORD</h3>
    <div class = "form-group">
        <label for="refillDate">Refill date</label>
        <input type="date"
               class="form-control"
               id = "refillDate"
               name = "refillDate"
               placeholder="Enter refill date"/>
    </div>

    <div class = "form-group">
        <label for="refillSize">Refill size</label>
        <input type="text"
               class="form-control"
               id = "refillSize"
               name = "refillSize"
               placeholder="Enter refill size"/>
    </div>

    <div class = "form-group">
        <label for="odometer">Odometer</label>
        <input type="text"
               class="form-control"
               id = "odometer"
               name = "odometer"
               placeholder="Enter year"/>
    </div>


    <div class = "form-group">
        <label for="fuelLeft">Fuel left</label>
        <input type="text"
               class="form-control"
               id = "fuelLeft"
               name = "fuelLeft"
               placeholder="Enter left fuel"/>
    </div>


    <div class = "form-group">
        <label for="avgSpeed">Average speed</label>
        <input type="text"
               class="form-control"
               id = "avgSpeed"
               name = "avgSpeed"
               placeholder="Enter average speed"/>
    </div>


  <br>
  <button type = "submit" class="btn btn-primary">ADD</button>
</form>
</div>
{% else %}
<h1> NO ACCES!!</h1>

{% endif %}
<br />
{% endblock %}
